In [1]:
import pandas as pd

# Cargar el dataset
data_final = pd.read_csv("../data/data_Final/data_final.csv")

# Mostrar las primeras filas del dataset para verificar que se cargó correctamente
data_final.head()

,Ocupacion_Accountant,Ocupacion_Architect,Ocupacion_Developer,Ocupacion_Doctor,Ocupacion_Engineer,Ocupacion_Entrepreneur,Ocupacion_Journalist,Ocupacion_Lawyer,Ocupacion_Manager,Ocupacion_Mechanic,...,Num_Tarjetas_Credito,Tasa_Interes,Num_Prestamos,Retraso_Pago,Num_Pagos_Retrasados,Cambio_Limite_Credito,Num_Consultas_Credito,Deuda_Pendiente,Edad_Historial_Credito,Puntaje_Credito
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,5.0,8.0,3.0,5.0,8.0,7.1,3.0,1303.01,213.0,Good
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,5.0,8.0,3.0,13.0,6.0,7.1,3.0,1303.01,214.0,Good
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,5.0,8.0,3.0,8.0,7.0,11.1,3.0,1303.01,215.0,Good
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,5.0,8.0,3.0,8.0,5.0,9.1,3.0,1303.01,216.0,Good
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,5.0,8.0,3.0,10.0,5.0,7.1,3.0,1303.01,217.0,Good

In [2]:
# Separar características (X) y variable objetivo (y)
X = data_final.drop(columns=['Puntaje_Credito'])  # Todas las columnas excepto 'Puntaje_Credito'
y = data_final['Puntaje_Credito']  # Columna objetivo

# Mostrar las primeras filas de X e y para verificar
print("Características (X):")
X.head()

Características (X):

,Ocupacion_Accountant,Ocupacion_Architect,Ocupacion_Developer,Ocupacion_Doctor,Ocupacion_Engineer,Ocupacion_Entrepreneur,Ocupacion_Journalist,Ocupacion_Lawyer,Ocupacion_Manager,Ocupacion_Mechanic,...,Num_Cuentas_Bancarias,Num_Tarjetas_Credito,Tasa_Interes,Num_Prestamos,Retraso_Pago,Num_Pagos_Retrasados,Cambio_Limite_Credito,Num_Consultas_Credito,Deuda_Pendiente,Edad_Historial_Credito
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,5.0,8.0,3.0,5.0,8.0,7.1,3.0,1303.01,213.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,5.0,8.0,3.0,13.0,6.0,7.1,3.0,1303.01,214.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,5.0,8.0,3.0,8.0,7.0,11.1,3.0,1303.01,215.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,5.0,8.0,3.0,8.0,5.0,9.1,3.0,1303.01,216.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,5.0,8.0,3.0,10.0,5.0,7.1,3.0,1303.01,217.0

In [3]:
print("\nVariable Objetivo (y):")
y.head()

Variable Objetivo (y):

0    Good
1    Good
2    Good
3    Good
4    Good
Name: Puntaje_Credito, dtype: object

In [4]:
from sklearn.model_selection import train_test_split

# Dividir los datos en entrenamiento (80%) y prueba (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Mostrar el tamaño de cada conjunto para verificar
print("Tamaño de X_train:", X_train.shape)
print("Tamaño de X_test:", X_test.shape)
print("Tamaño de y_train:", y_train.shape)
print("Tamaño de y_test:", y_test.shape)

Tamaño de X_train: (48529, 39)
Tamaño de X_test: (12133, 39)
Tamaño de y_train: (48529,)
Tamaño de y_test: (12133,)

In [5]:
import os

# Crear la carpeta 'data_Train_Test' si no existe
os.makedirs("../data/data_Train_Test", exist_ok=True)

# Convertir X_train, X_test, y_train, y_test a DataFrames
X_train_df = pd.DataFrame(X_train, columns=X.columns)
X_test_df = pd.DataFrame(X_test, columns=X.columns)
y_train_df = pd.DataFrame(y_train, columns=['Puntaje_Credito'])
y_test_df = pd.DataFrame(y_test, columns=['Puntaje_Credito'])

# Guardar los datos en archivos CSV
X_train_df.to_csv("../data/data_Train_Test/X_train.csv", index=False)
X_test_df.to_csv("../data/data_Train_Test/X_test.csv", index=False)
y_train_df.to_csv("../data/data_Train_Test/y_train.csv", index=False)
y_test_df.to_csv("../data/data_Train_Test/y_test.csv", index=False)

print("Datos de entrenamiento y prueba guardados correctamente en la carpeta 'data_Train_Test'.")

Datos de entrenamiento y prueba guardados correctamente en la carpeta 'data_Train_Test'.